.panelLink {
    display: block;
    color: var(--spectrum-global-color-gray-900) !important;
    text-decoration: none !important;
    background-color: var(--spectrum-global-color-gray-50) !important;
    padding: var(--spectrum-global-dimension-size-200) !important;
    border: var(--spectrum-alias-border-size-thin) solid transparent !important;
}

.panelLink[class*='is-hovered'] {
    border: var(--spectrum-alias-border-size-thin) solid var(--spectrum-global-color-gray-300) !important;
    background-color: var(--spectrum-global-color-gray-100) !important;
    text-decoration: none;
}
