.addResourceButton {
    display: flex;
    padding: var(--spectrum-global-dimension-size-200) 0 !important;
    border-radius: var(--spectrum-alias-border-radius-regular) !important;
    border-width: 1px;
    border-style: dashed;
    border-color: var(--spectrum-global-color-gray-500) !important;
    background-color: var(--spectrum-global-color-gray-75) !important;
    text-decoration: none;
    color: inherit;
}

.addResourceButton:hover {
    border-color: var(--spectrum-global-color-gray-600) !important;
    background-color: var(--spectrum-global-color-gray-100) !important;
}
