.card {
    border-width: var(--spectrum-global-dimension-size-25);
    border-color: var(--spectrum-global-color-gray-300);
    border-style: solid;
    border-radius: var(--spectrum-global-dimension-size-50);
    background-color: var(--spectrum-global-color-gray-200);
    overflow: hidden;

    transition:
        background-color 100ms ease-in-out 100ms,
        border 100ms ease-in-out 100ms;
}

.card:hover {
    transition-delay: 0ms, 0ms;
    background-color: var(--spectrum-global-color-gray-300);
    border-color: var(--energy-blue);
}

.imgWrapper {
    position: relative;
    display: inline-block;
    background-image: linear-gradient(
        to top right,
        var(--spectrum-global-color-gray-50),
        var(--spectrum-global-color-gray-400)
    );
}

.imgWrapper img {
    display: block;
    width: 100%;
    height: auto;
}

.activeCard {
    border: var(--spectrum-global-dimension-size-25) solid var(--energy-blue);
}

.activeCard h3 {
    color: var(--energy-blue);
}

.container {
    background-image: url('../../../assets/background.webp');
    background-blend-mode: luminosity;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(75%) brightness(105%) contrast(1.3);
}

.projectsListContainer {
    overflow-y: auto;
}
