.sidebarList {
    --spectrum-tabs-vertical-rule-width: var(--spectrum-global-dimension-size-50);

    border-inline-start-color: transparent;
    padding-right: 0 !important;

    & a[class*='spectrum-Tabs-item'] {
        margin-left: 0;
        padding-left: var(--spectrum-global-dimension-size-300);

        &:hover {
            background-color: var(--spectrum-global-color-gray-200);
        }

        &[class*='is-selected'] {
            background-color: var(--spectrum-global-color-gray-300);

            .sidebarListItemIcon,
            .sidebarListItemIcon path {
                fill: var(--energy-blue) !important;
            }
        }
    }
}

.sidebarListItemIcon,
.sidebarListItemIcon path {
    fill: var(--spectrum-global-color-gray-700) !important;
}
